 <!-- Container (About Section) -->
 <div class="container-fluid">
           <div class="row">               
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                   
                   <h2>FORMULÁRIOS <span class="glyphicon glyphicon-pencil"></span></h2>

                   <hr class="featurette-divider">
                   
<div class="panel-group text-center" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
         <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="glyphicon glyphicon-level-up"></span> COMERCIAL</a></h4>
         </div>
  <div id="collapse1" class="panel-collapse collapse in">

  <div class="panel-body text-left">
     
  <p><a href="\intranetSDB\Formularios\Amendment Request Form - Latam.doc"><span class="glyphicon glyphicon-download-alt"></span>  Amendment Request (Latam)</a></p>


<p><a href="\intranetSDB\Formularios\Prospective Licensee Application Latam.docx"><span class="glyphicon glyphicon-download-alt"></span> PLA (Latam)</a></p>

<p><a href="\intranetSDB\Formularios\Deal Proposal Latam.doc"><span class="glyphicon glyphicon-download-alt"></span> Deal Proposal (Latam)</a></p>

<p><a href="\intranetSDB\Formularios\Amendment Request Form - Brazil.docx"><span class="glyphicon glyphicon-download-alt"></span> Solicitação de Aditamento (Brasil)</a></p>

<p><a href="\intranetSDB\Formularios\Prospective Licensee Application - Brazil.doc"><span class="glyphicon glyphicon-download-alt"></span> PLA (Brasil)</a></p>

<p><a href="\intranetSDB\Formularios\Deal Proposal - Brazil.docx"><span class="glyphicon glyphicon-download-alt"></span> Deal Proposal (Brasil)</a></p>

<p><a href="\intranetSDB\Formularios\Trafego de Contratos _F JUR 001 Agosto 2014.doc"><span class="glyphicon glyphicon-download-alt"></span> Tráfego de Contratos</a></p>
   </div>
 </div>
</div>



     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="glyphicon glyphicon-level-up"></span> FINANCEIRO</a></h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body text-left" >
 <p><a href="\intranetSDB\Formularios\PAR.docx"><span class="glyphicon glyphicon-download-alt"></span> PAR</a></p>
  <p><a href="\intranetSDB\Formularios\Despesas.xls"><span class="glyphicon glyphicon-download-alt"></span> Despesas</a></p>
    <p><a href="\intranetSDB\Formularios\Travel%20Authorization.doc"><span class="glyphicon glyphicon-download-alt"></span> Autorização de viagem </a></p>
                        </div>
                        </div>
                        </div>

                        
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-level-up"></span> RECURSOS HUMANOS</a></h4>
          </div>
                    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body text-left">

        <p><a href="\intranetSDB\Formularios\SESC.pdf"><span class="glyphicon glyphicon-download-alt"></span>            
                              SESC</a></p>
          <p><a href="\intranetSDB\Formularios\solicitacao_ferias.doc"><span class="glyphicon glyphicon-download-alt"></span> Solicitação de Férias</a></p>
           <p><a href="\intranetSDB\Formularios\SMP.doc"><span class="glyphicon glyphicon-download-alt"></span> Movimentação de Pessoal</a></p>
                        </div>
                        </div>
                        </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span class="glyphicon glyphicon-level-up"></span> TECNOLOGIA DA INFORMAÇÃO</a></h4>
          </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body text-left">

          <p><a href="\intranetSDB\Formularios\MDMS.doc"><span class="glyphicon glyphicon-download-alt"></span> MDMS</a></p>
            <p><a href="\intranetSDB\Formularios\Formul%C3%A1rio%20Solicita%C3%A7%C3%A3o%20de%20Servi%C3%A7os%20de%20Tecnologia%20da%20Informa%C3%A7%C3%A3o.doc"><span class="glyphicon glyphicon-download-alt"></span> TI</a></p>
              <p><a href="\intranetSDB\Formularios\Ocorrencias_Microsiga.DOC"><span class="glyphicon glyphicon-download-alt"></span> Ocorrências Microsiga/Protheus</a></p>
                       </div>
                       </div>
                       </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
     <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><span class="glyphicon glyphicon-level-up"></span> OUTROS</a></h4></div>

  <div id="collapse5" class="panel-collapse collapse">
    <div class="panel-body text-left">
          <p><a href="\intranetSDB\Formularios\Fax.doc" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Fax</a></p>
            <p><a href="\intranetSDB\Formularios\MAM.doc"><span class="glyphicon glyphicon-download-alt"></span> MAM</a></p>
              <p><a href="\intranetSDB\Formularios\Modelo.doc"><span class="glyphicon glyphicon-download-alt"></span> Modelo Papel Timbrado</a></p>
                <p><a href="\intranetSDB\Formularios\CREATIVE_REQUEST.pdf"><span class="glyphicon glyphicon-download-alt"></span> Creative Request</a></p>               
</div>
   </div>

      </div>
        </div>
         <hr class="featurette-divider">
</div>  

</div>


  
    </div>
