<!-- Container (politicaseprocedimentos) -->
         <div class="container-fluid">           
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2>POLITICAS E PROCEDIMENTOS <span class="glyphicon glyphicon-check"></span></h2>
                    <hr class="featurette-divider">


 <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                       <div class="panel-heading">
                        <h4 class="panel-title">
                          <span class="glyphicon glyphicon-equalizer"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> ORGANOGRAMA</a></h4>
                       </div>


                    <div id="collapse1" class="panel-collapse collapse">
                  
                      
                       <div class="panel-body">

                       <iframe style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/Organograma em Portugues.pdf"></iframe>
                        
                       
                            </div>
                      </div>                   
             

                </div>

                    <div class="panel panel-default">
                       <div class="panel-heading">
                        <h4 class="panel-title">
                          <span class="glyphicon glyphicon-stats"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> TI</a></h4>
                       </div>


                    <div id="collapse2" class="panel-collapse collapse">
                  
                      
                       <div class="panel-body text-left">
                       <div class="btn-group-sm">

                       <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1"> RECOMENDAÇÕES DE ARMAZENAMENTO</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> RECOMENDAÇÕES DE ARMAZENAMENTO</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/RECOMENDACOES DE ARMAZENAMENTO.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 


                       <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2">  Política de TI</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">  Política de TI</h4>
        </div>
        <div class="modal-body">
        <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/D TI 001 Política de TI rev_01.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 


                        
                       </div>
                            </div>
                      </div>                   
             

                </div>
             

                    <div class="panel panel-default">
                       <div class="panel-heading">
                        <h4 class="panel-title">
                          <span class="glyphicon glyphicon-user"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> RECURSOS HUMANOS</a></h4>
                       </div>
                       </div>
                  

<div id="collapse3" class="panel-collapse collapse">                
  <div class="panel-body text-left">
<div class="btn-group-sm">


                           <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal11">Controle de Ponto</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Controle de Ponto</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P.RH.012.Controle de Ponto.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 

            

                           <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal12">Demissão</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal12" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Demissão</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P.RH.007. Demissão.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 

                         

                    
                          <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal3">Férias</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Férias</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P.RH.008. Férias.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 

                         

                     
                  
                        
<!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal4">Manual do Funcionário</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Manual do Funcionário</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/Manual do Funcionário_re01_2016.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 

                          
       
                         

                        
                    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal5">Subsídio de Idiomas</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Subsídio de Idiomas</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P RH 010  Subsidio de Idiomas.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 


                               <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal6">Transporte</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transporte</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P.RH.013.Transporte.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
                         

                            
          

                               <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal7">Vagas de estacionamento</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vagas de estacionamento</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P RH 011 Estacionamento.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
                           


                               <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal8">Portas Abertas</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Portas Abertas</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P.RH.015 Portas Abertas.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
                              




  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal9">Politica de Controles Internos e Documentação</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Politica de Controles Internos e Documentação</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/Politica de Controles Internos e Documentação.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  


  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal10">Cargos e Salários</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal10" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cargos e Salários</h4>
        </div>
        <div class="modal-body">
         <iframe " style="width:100%" height="500"  src="http://192.168.1.3/intranetSDB/Formularios/P RH 009  Cargos e Salarios.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>                                    
   </div>
     </div>   
     </div>
        </div>

        <!--<      <hr class="featurette-divider">-->
         
    </div>                 
   
</div>

</div>