     <div class="container-fluid">           
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2>UTILIDADES</h2>
                    <hr class="featurette-divider">
                    
                  <div class="panel-group text-center" id="accordion">      

 <div class="panel panel-default">
                       <div class="panel-heading">
                        <h4 class="panel-title">
                          <span class="glyphicon glyphicon-list-alt"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Manual POLYCOM Audio Conferência </a></h4>
                       </div>


                    <div id="collapse1" class="panel-collapse collapse in">
                  
                      
                       <div class="panel-body">

                       <iframe " src="http://192.168.1.3/intranetSDB/manuais/polycom.pdf" style="width:100%" height="500"></iframe>
                        
                       
                            </div>
                      </div>                   
             

                </div>

                            <div class="panel panel-default">
                       <div class="panel-heading">
                        <h4 class="panel-title">
                          <span class="glyphicon glyphicon-list-alt"></span><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Manual Tel. Panasonic KX-DT321</a></h4>
                       </div>




                    <div id="collapse2" class="panel-collapse collapse">
                   <div class="panel-body">
                                      <div class="dropdown">
  <img class="img-responsive" src="http:\\192.168.1.3\intranetSDB\images\Panasonic.png" alt="Manual do Tel" width="100" height="50">
  <div class="dropdown-content">
    <img src="http:\\192.168.1.3\intranetSDB\images\Panasonic.png" alt="PANASONIC" width="630" height="400">
    
  </div>
</div>

                      

                       
                        
                        <h3 class="list-group-item">PANASONIC KX-DT321</h3>
                       
                            <li class="list-group-item">Iniciar uma ligação
                            <p>9 + número  ou  SP-PHONE + número </p>               
                            </li>

                            <li class="list-group-item">Conferência interna
                            <p>número do ramal + tecla conferência + número do ramal</p>                                
                            </li>

                            <li class="list-group-item">Conferência externa
                            <p> 9 + número + tecla conferência + 9 + número + conferência (até oito pessoas)</p>                            
                            </li>

                            <li class="list-group-item">Captura de qualquer ligação
                            <p>55</p>                
                            </li>

                            <li class="list-group-item">Transferência
                            <p>Tecla Transfer + número </p>                                
                            </li>

                            <li class="list-group-item">Habilitar Caixa de Correio
                            <p>*381 + Gravar Mensagem + Tecla AutoDial</p>                               
                            </li>

                            <li class="list-group-item">Chamar Portaria                              
                            <p># ou 50</p>                             
                            </li>

                            <li class="list-group-item">Ouvir mensagens da Caixa Postal                             
                            <p>Retirar fone do gancho + tecla MESSAGE<br>Após ouvir Tecle 3 + AUTODIAL</p>                                                      
                            </li>                          
                                                   
                            <li class="list-group-item">Habilitar transferência interna (entre ramais)
                            <p>*7102 + número do ramal + tecla #</p>
                            </li>

                            <li class="list-group-item">Desabilitar transferência interna (entre ramais)                              
                            <p>*7100</p>
                            </li>

                            <li class="list-group-item">Habilitar transferência externa
                            <p>*7102 + 9 + número externo + tecla #</p>                              
                            </li>

                            <li class="list-group-item">Desabilitar transferência externa
                            <p>*7100</p>                             
                            </li>

                            <li class="list-group-item">Cadastro na lista pessoal
                            <p>Tecla PROGRAM + AUTODIAL + Tecla Navegacao (seta para baixo) + 9 + número + AUTODIAL + cadastre o nome + AUTODIAL</p>
                            </li>

                            <li class="list-group-item">Iniciar uma ligação pela lista pessoal
                            <p>Tecla Navegacao (seta para direita) + Lista pessoal( display) + Tecla Navegacao (seta para cima) + tecle SP-PHONE</p>                
                            </li>

                            <li class="list-group-item">Excluir cadastro na lista pessoal
                              
                                <p>Tecla PROGRAM + AUTODIAL + Tecla Navegacao (seta para baixo) + selecione o número  (teclar duas vezes) TRANSFER + AUTODIAL</p>
                              
                            </li>

                            <li class="list-group-item">Cadastro na lista do sistema                              
                                <p>Enviar e-mail para o departamento de TI, para que seja registrado no sistema.</p>
                                <a href="mailto:ti@sanrio.com.br" style="color: rgb(0, 102, 255); text-decoration: none; display: inline;"><span class="glyphicon glyphicon-envelope"></span> ti@sanrio.com.br</a>
                                <a>                         
                            </li>
                           
                      </div>                   
             

                </div>
                </div>       
               
               </div>
 

<div class="container">
<div class="row">

    
<hr class="featurette-divider">
                        <h2>Telefones Úteis</h2>
                
                            <h4>Ponto de Taxi Samuel Morse (2749)</h4>
                          
                                Av. Eng. Luis Carlos Berrini, travessa com a Rua Samuel Morse (Brooklin)<br>
                                <abbr title="Telefone">Fone:</abbr> (11) 5102-4481<br>
                                <abbr title="Nextel">Nextel:</abbr> (11) 7756-1072 ID: 100*64693<br>
                                <a href="mailto:pontodetaxisamuelmorse@bol.com.br">pontodetaxisamuelmorse@bol.com.br</a><br>
                                Obs.: Aceita cartão.
                       

                            <h4>Ponto de Taxi Arizona II (1824)</h4>
                         
                                Rua Arizona, 1.366 (Brooklin)<br>
                                <abbr title="Telefone">Fone:</abbr> (11) 5103-1670 / (11) 5507-7806<br>
                         
                                       
              
       </div>

    </div>

<hr class="featurette-divider">

    </div>



</div>
