<!DOCTYPE html>
<meta charset="utf-8">
 <title>Teste</title>
<body>
<td><input type="text" name="item[]" value="1" size="4" /></td>
                <td><input type="text" name="descricao[]" size="50" /></td>
                <td><input type="text" name="condicao[]" size="8" /></td>
                <td><input type="text" name="valor[]" size="8" /></td>
                <td><input type="text" name="desconto[]" size="8" /></td>
                <td><input type="text" name="total[]" size="8" /></td>
 </body>

<html>