       
       <!-- Container (About Formulário) -->
 <div class="container-fluid">
           <div class="row">               
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                   
                   <h2>MEUS PEDIDOS</h2>

                   <hr class="featurette-divider">
                   
<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
       
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h4 class="panel-title">CARRINHO DE COMPRAS<span class="glyphicon glyphicon-shopping-cart"></span></a></h4>
         </div>
  <div id="collapse1" class="panel-collapse collapse in">

  <div class="panel-body">
     

<p>LOJA VIRTUAL ATÉ 200 PRODUTOS  |     R$ 1000,99</p>

<p>TOTAL:     |     R$ 1000,99</p>

<a href="#"><button type="button" class="btn btn-primary">FINALIZAR COMPRA</button></a>
<a href="#"><button type="button" class="btn btn-warning">ACRESCENTAR ITENS</button></a>
<a href="#"><button type="button" class="btn btn-danger">CANCELAR COMPRA</button></a>

   </div>
 </div>
</div>                    
    



        </div>
         <hr class="featurette-divider">
</div>  

</div>  
    </div>
