       
       <!-- Container (About Formulário) -->
 <div class="container-fluid">
           <div class="row">               
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                   
                   <h2>FORMULÁRIOS <span class="glyphicon glyphicon-pencil"></span></h2>

                   <hr class="featurette-divider">
                   
<div class="panel-group text-center" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
         <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="glyphicon glyphicon-level-up">COMERCIAL</span></a></h4>
         </div>
  <div id="collapse1" class="panel-collapse collapse in">

  <div class="panel-body">
     
  <p><span class="glyphicon glyphicon-download-alt"><a href="\intranetSDB\Formularios\Amendment Request Form - Latam.doc"></span> Amendment Request (Latam)</a></p>


<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Prospective Licensee Application Latam.docx"> PLA (Latam)</a></p>

<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Deal Proposal Latam.doc"> Deal Proposal (Latam)</a></p>

<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Amendment Request Form - Brazil.docx"> Solicitação de Aditamento (Brasil)</a></p>

<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Prospective Licensee Application - Brazil.doc"> PLA (Brasil)</a></p>

<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Deal Proposal - Brazil.docx"> Deal Proposal (Brasil)</a></p>

<p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Trafego de Contratos _F JUR 001 Agosto 2014.doc"> Tráfego de Contratos</a></p>
   </div>
 </div>
</div>



     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="glyphicon glyphicon-level-up"></span> FINANCEIRO</a></h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body" >
 <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\PAR.docx"> PAR</a></p>

  <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Despesas.xls"> Despesas</a></p>
    <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Travel%20Authorization.doc"> Autorização de viagem </a></p>
                        </div>
                        </div>
                        </div>

                        
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-level-up"></span> RECURSOS HUMANOS</a></h4>
          </div>
                    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">

                             <p><span class="glyphicon glyphicon-download-alt"></span>            
                             <a href="\intranetSDB\Formularios\SESC.pdf"> SESC</a></p>
                              <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\solicitacao_ferias.doc"> Solicitação de Férias</a></p>
                             <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\SMP.doc"> Movimentação de Pessoal</a></p>
                        </div>
                        </div>
                        </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span class="glyphicon glyphicon-level-up"></span> TECNOLOGIA DA INFORMAÇÃO</a></h4>
          </div>
                  <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">

                         <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\MDMS.doc"> MDMS</a></p>
                       <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Formul%C3%A1rio%20Solicita%C3%A7%C3%A3o%20de%20Servi%C3%A7os%20de%20Tecnologia%20da%20Informa%C3%A7%C3%A3o.doc"> TI</a></p>
                       <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Ocorrencias_Microsiga.DOC"> Ocorrências Microsiga/Protheus</a></p>
                       </div>
                       </div>
                       </div>

<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><span class="glyphicon glyphicon-level-up"></span> OUTROS</a></h4></div>

                      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
                       <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Fax.doc"> Fax</a></p>
                     <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\MAM.doc"> MAM</a></p>
                       <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\Modelo.doc"> Modelo Papel Timbrado</a></p>
                      <p><span class="glyphicon glyphicon-download-alt"></span><a href="\intranetSDB\Formularios\CREATIVE_REQUEST.pdf"> Creative Request</a></p>               
</div>
   </div>

      </div>
        </div>
         <hr class="featurette-divider">
</div>  

</div>  
    </div>
